<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
      Título del sitio web
    {% endblock %}
  </title>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  {% block head_aditional_css_or_scripts %}
  {% endblock head_aditional_css_or_scripts %}
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">

  <!-- Header -->
  <header>
    {% include 'global_navbar.html' %}
    {% if user.is_authenticated %}
    {% include 'global_navbar_secondary.html' %}
    {% endif %}
  </header>

  <!-- Main Content -->
  {% block maincontent %}
  <main class="w-100 d-flex justify-content-center m-auto">
    <div class="col-10 text-center py-5">
      <h1 class="display-4">Ejemplo de título</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit platea porta eget fringilla, varius sociis bibendum nec vestibulum dignissim euismod faucibus dictumst fusce, maecenas tempus senectus magnis imperdiet netus vitae habitasse porttitor mi. Vel sollicitudin facilisi orci nec metus integer turpis felis, purus tristique fames ullamcorper eleifend rhoncus neque, ornare suspendisse euismod vulputate netus litora ultricies. Scelerisque suscipit sem molestie integer sollicitudin conubia luctus porttitor rutrum vehicula, euismod eros etiam commodo hendrerit penatibus praesent venenatis imperdiet velit, diam sociis non ridiculus et tortor vitae pharetra sapien.</p>
      <p class="lead"><strong>
        Otro ejemplo de cosas <i class="bi bi-caret-right-fill text-danger"></i>
        que se pueden <i class="bi bi-caret-right-fill text-danger"></i>
        hacer con esto.
      </strong></p>
      <a class="btn btn-danger btn-lg" href="" role="button"><i class="bi bi-broadcast"></i> Botón de ejemplo</a>
    </div>
  </main>
  {% endblock %}

  <!-- Footer -->
  <footer class="text-center container-sm py-3">
    <p><small>Marca - Argentina | Ver <a href="#">Términos y condiciones</a> | 2024</small></p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
