<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url "home:index" %}">Marca</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "home:index" %}" aria-current="page">Inicio<span class="visually-hidden">(current)</span></a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-lg-3" href="{% url 'home:profile' pk=request.user.id %}">Mi cuenta</a>
            <form action="{% url 'home:logout' %}" method="post" class="my-3 my-lg-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Cerrar sesión</button>
            </form>
            {% else %}
            <div class="btn-group my-3 my-lg-0" role="group" aria-label="Button group">
                <a class="btn btn-danger my-2 my-sm-0" href="{% url 'home:singup' %}">Registrarse</a>
                <a class="btn btn-outline-secondary border-start-0 my-2 my-sm-0" href="{% url 'home:login' %}">Iniciar sesión</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
