{% extends "base_forms_template.html" %}

{% block title %}
Cambiar contraseña
{% endblock title %}

{% block form_icon %}
<i class="bi bi-fingerprint text-danger"></i>
{% endblock form_icon %}

{% block form_title %}
Cambiar contraseña
{% endblock form_title %}

{% block form_subtitle %}
Completa el siguiente formulario
{% endblock form_subtitle %}

{% block form_main_button_title %}
Cambiar contraseña
{% endblock form_main_button_title %}

{% block form_secondary_buttom %}
<a class="btn btn-outline-secondary" href="{% url "home:profile" pk=request.user.id %}" role="button" >Volver atrás</a>
{% endblock form_secondary_buttom %}

{% block aditional_info %}
{% endblock aditional_info %}